菜单|Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/drassil/sidebar.html">编辑|Edit</a>):

<ul>
  <li><a href="https://github.com/Drassil/git-wiki-theme">同款网站源码</a>
  <li><a href="{{ '/' | relative_url }}">主页|Home</a></li>
  <li><a href="https://docs.qq.com/doc/DSEJIS0JJVEVQbHl5">选手注册流程</a>
  <li><a href="https://docs.qq.com/doc/DSGFoZ1NYVE1tZWJH">战队注册流程</a>
  <!-- 暂时不要了
  <li><a href="{{ '/examples.html' | relative_url }}">Made with Git-Wiki</a>
  <li><a href="{{ '/changelogs.html' | relative_url }}">Changelogs</a>
  <li><a href="{{ '/customize.html' | relative_url }}">Customize</a>
  <li><a href="{{ '/press.html' | relative_url }}">Press & Contacts</a>
  -->
</ul>
